.p-cart {
  position: fixed;
  z-index: $zindex-modal;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: .4s all;
  &.active {
    visibility: visible;
    opacity: 1;
    .p-cart__body {
      transform: translateX(0);
    }
  }
  &--right &__body {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }
  &__body {
    width: 250px;
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: .4s all;
    background-color: $gray-700;
    color: $light;
    overflow-y: scroll;
    @media (min-width: 768px) {
      width: 300px;
    }
  }
  &__title {
    background-color: $gray-800;
    font-size: 1.25rem;
    padding: .875rem .5rem;
    margin-bottom: 0;
    @media (min-width: 992px) {
      padding: 1.21875rem .5rem;
    }
  }
  &__item {
    display: flex;
    padding: 0.75rem 0.25rem 0.75rem 0.75rem;
    border-bottom: 1px solid $gray-800;
  }
  &__img {
    display: block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 0.5rem;
    flex-shrink: 0;
    @media (min-width: 992px) {
      width: 70px;
      height: 70px;
    }
  }
  &__btn {
    display: block;
    padding: .75rem;
    color: $gray-500;
    align-self: center;
    &:hover {
      color: $danger;
    }
  }
}