.p-home__nav {
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    writing-mode: vertical-lr;
    letter-spacing: .5rem;
    padding: 1rem 0;
    color: darken($primary, 15%);
    border: 1px solid $white;
    background-color: rgba($light, .5);
    overflow: hidden;
    transition: all .6s;
    @media (min-width: 568px) {
      padding: 2rem 0;
    }
    @media (min-width: 768px) {
      font-size: 1.25rem;
      padding: 4rem 0;
    }
    &:hover {
      color: darken($primary, 15%);
      .p-home__nav__background {
        filter: blur(0.1px);
        transform: scale(1.2);
      }
    }
  }
  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(3px);
    background-size: cover;
    background-position: center;
    transition: filter .6s, transform .6s;
  }
}

$intro-width: 30px;
.p-home__intro {
  position: relative;
  padding-top: $intro-width;
  @media (min-width: 768px) {
    padding-top: $intro-width * 1.5;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: darken($light, 10%);
  }
  &--info {
    color: $dark;
    &::before {
      background-color: #c4d8c5;
    }
    & .p-home__intro__body::before {
      background-color: #eaf3f7;
    }
  }
  &__image {
    position: relative;
    height: 250px;
    margin-top: $intro-width;
    margin-right: $intro-width;
    box-shadow: 5px 5px 20px $gray-500, -5px -5px 20px $gray-500;
    background-size: cover;
    @media (min-width: 568px) {
      height: 400px;
    }
    @media (min-width: 768px) {
      height: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -$intro-width;
      width: 100%;
      height: 100%;
      margin-left: $intro-width;
      background-color: #fff;
    }
  }
  &__body {
    position: relative;
    margin-top: $intro-width;
    margin-left: $intro-width;
    padding-right: 1rem;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -$intro-width;
      left: -$intro-width;
      width: $intro-width * 3;
      height: $intro-width * 3;
      background-color: $light;
    }
  }
  &__heading {
    font-size: 1.4rem;
    letter-spacing: .25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      font-size: 1.75rem;
      letter-spacing: .3rem;
      margin-bottom: 2rem;
    }
  }
  &__content {
    white-space: pre-line;
    line-height: 2;
    margin-bottom: 0rem;
  }
  &__title {
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: $white;
    @media (min-width: 768px) {
      font-size: 5rem;
      margin-top: 2rem;
    }
  }
}

.p-home__product {
  background-image: url('~@/assets/images/product-background-sm.jpg'); background-attachment: fixed; background-position: left;
  background-size: cover;
  @media (min-width: 768px) {
    background-position: center;
    background-image: url('~@/assets/images/product-background.jpeg'); 
  }

}